In [11]:
# S.No. 1 : Python program which accepts the radius of a circle and compute the area

def circle_area(radius):
    area = (22/7)*radius
    return area;
print (circle_area(2))

6.285714285714286

In [17]:
# S.No.2 : Python program to check if a number is positive, negative or zero
def check_number(my_number):
    if my_number < 0:
        print("Number is negative")
    
    elif my_number == 0:
        print("Its zero")
        
    else:
        print("Number is positive")

check_number(-4)

Number is negative

In [26]:
# S.No.3 : check whether a number is completely divisible.
def completely_divisible(numerator, denominator):
    if numerator % denominator == 0:
        print(str(numerator) + " is completely divisble by " + str(denominator))
    
    else:
        print(str(numerator) + " is NOT completely divisble by " + str(denominator))

completely_divisible(19, 5)

19 is NOT completely divisble by 5

In [32]:
# S.No.4 : accepts an integer (n) and computes the value of (n + nn + nnn)
def compute_value(my_integar):
    # may be calculated this way
    #    value = (my_integar + (my_integar*my_integar) + (my_integar*my_integar*my_integar))
    # or may be this way
    value = my_integar + pow(my_integar, 2) + pow(my_integar, 3)
    return value;
compute_value(2)

14

In [42]:
# S.No.5 : calculate number of days between two dates    
first_date = date(2019, 6, 27)
second_date = date(2019, 7, 27)
difference = second_date - first_date
print(difference.days)

30

In [44]:
# S.No.6 : volume of a sphere, please take the radius as input from user. V=4 / 3 Ï€r3
def sphere_volume(radius):
    volume = (4/3)*(22/7)*(pow(radius, 3))
    return volume;
print (sphere_volume(2))

33.52380952380952

In [52]:
# S.No.7 : get the difference between a given number and 17, difference cannot be negative
def difference():
    my_number = 0
    while my_number < 17:
        my_number = int(input("Please Enter a number greater or equal to 17: "))
    return my_number;    
print(difference()-17)

Please Enter a number greater or equal to 17: 3
Please Enter a number greater or equal to 17: 20
3

In [66]:
# S.No.8 : get a new string from a given string where "Is" has been added to the front.
#If the given string already begins with "Is" then return the string unchanged
def contains_is(my_string):
    if "is" in my_string:
        new_string = my_string
    else:
        new_string = "is" + my_string
    return new_string
contains_is('rehanis')

'rehanis'

In [67]:
# S.No. 9 : get a string which is n (non-negative integer) copies of a given string
# obtai faizan help

In [70]:
# S.No. 10 : whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.
my_number = int(input("Enter a number :"))
if my_number % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number :9
Number is odd

In [5]:
# S.No. 11 : whether a passed letter is a vowel or not
def check_vowel(my_letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    if my_letter.lower() in vowels:
        print(my_letter + " is a veowel")
    else:
        print()
check_vowel('a')

a is a veowel

In [7]:
# S.No. 12 : accept the base and height of a triangle and compute the area
def triangle_area(base, height):
    area = (1/2)*(base*height)
    return area;
print (triangle_area(4,5))

10.0

In [27]:
# S.No. 13 : return true if the two given integer values are equal or their sum or difference is 5.
def check_numbers(my_integar1, myintegar2):
    if (my_integar1 == myintegar2) or (my_integar1 + myintegar2) == 5 or abs((my_integar1 - myintegar2)) == 5:
        return True;

check_numbers(3, 34)

In [39]:
# S.No. 14 : solve (x + y) * (x + y)
def solve(x, y):
#    value = (x + y) * (x + y)
    value = pow(x, 2) + (2 * x * y) + pow(y, 2)
    return value;

solve(3, 3)

36

In [66]:
# S.No.15 : compute the future value of a specified principal amount, rate of interest, and a number of years.
def future_value(principal, interest_rate, years):
    interest = principal* (interest_rate/100) * years
    loan_future_value = principal + interest
    return loan_future_value;

future_value (1000, 13, 5)

1650.0

In [50]:
# S.No.16 : distance between the points (x1,y1) and (x2, y2)
import math
def compute_distance(x1, y1, x2, y2):
    distance = (x2 - x1)*(x2 - x1) + (y2 - y1)*(y2 - y1)
    return math.sqrt(distance);

compute_distance(1, 2, 3, 4)

2.8284271247461903

In [59]:
# S.No. 17 : convert height (in feet and inches) to centimetres
def conversion(height):
    # 1st converting height from feet to inches
    height_in_in = (int(height) * 12) + (height-int(height)) * 12
    # now converting from inches to cm
    height_in_cm = 2.54 * height_in_in
    return height_in_cm;
print(conversion(2.0))

24.0

In [63]:
# S.No. 18 : calculate the hypotenuse of a right angled triangle
def measure_hypotenuse(a, b):
    c = a*a + b*b
    return math.sqrt(c);

print (measure_hypotenuse(4,5))

6.4031242374328485

In [65]:
# S.No. 19 : convert distance (in feet) to inches, yards, and miles.
#1 feet = 12 inches, 3 feet = 1 yard, 5280 feet = 1 mile
def distance_conversion(distance):
    distance_in = distance * 12
    distance_yrd = distance / 3
    distance_mile = distance / 5280
    return distance_in, distance_yrd, distance_mile;
print(distance_conversion(2))

(24, 0.6666666666666666, 0.0003787878787878788)

In [73]:
# S.No. 20 : convert all units of time into seconds.
def convert_into_seconds(hours, minutes):
    seconds_from_hour = 60*60*hours
    seconds_from_minutes = 60*minutes
    return seconds_from_hour + seconds_from_minutes;

print(convert_into_seconds(1, 0))

3600

In [103]:
# S.No. 21 : convert seconds to day, hour, minutes and seconds
def convert_day_time(seconds):
    minutes = int(seconds / 60)
    hours = int(minutes / 60)
    days = int(hours / 24)
    print(str(days) + " Days, " + str(hours) + " Hourse, " + str(minutes) + " Minutes")

convert_day_time (300)

0 Days, 0 Hourse, 5 Minutes

In [153]:
# S.No. 22 : calculate body mass index.
def calculate_BMI (mass, height):
    BMI = mass / height*height
    return BMI;
print(calculate_BMI(95, 1))

50.0

In [191]:
# S.No.24 : sum of the first n positive integers

n= int(input('Enter number :'))
m = n + 1
sum = 0
for num in range(m):
    sum = sum + num
print (sum)

Enter number :25
325

In [192]:
# S.No. 25 : calculate the sum of the digits in an integer
sumx = 0
y = '5245'
index=0

for x in y:
    sumx = sumx+int(y[index])
    index+=1
    print (sumx)
print(sumx)

5
7
11
16
16

In [194]:
#S.No. 26 : Write a Python program to convert an integer to Binary, Octal andHexadecimal numbers

dec = 344

print("The decimal value of",dec,"is:")
print(bin(dec),"in binary.")
print(oct(dec),"in octal.")
print(hex(dec),"in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

In [195]:
# S. No. 27 :  convert binary number to Decimal number
b_num = list('11001')
value = 0

for i in range(len(b_num)):
    digit = b_num.pop()
    if digit == '1':
        value = value +  pow(i, 2)
print("Value of of the decimal number is ", value)

Value of of the decimal number is  25

In [193]:
# S.No. 28 : convert Octal number to Decimal number
def convert_octal(octal_number):
    my_list = list(octal_number)
    my_reverse_list = my_list[::-1]
    octa = 0
    decimal_number = 0
    for i in my_reverse_list:
#        decimal_number = decimal_number + int(i) * pow(8, octa)
        decimal_number += int(i) * pow(8, octa)
        octa += 1
    
    print(decimal_number)
convert_octal('112')

74

In [130]:
# S.No. 29 : convert Octal number to Decimal number
def convert_hexa_decimal(hexa_decimal_number):
    my_list = list(hexa_decimal_number)
    my_reverse_list = my_list[::-1]
    hexa = 0
    decimal_number = 0
    for i in my_reverse_list:
#        decimal_number = decimal_number + int(i) * pow(8, octa)
        decimal_number += int(i) * pow(16, hexa)
        hexa += 1
    
    print(decimal_number)
convert_hexa_decimal('112')

274

In [149]:
# S.No. 30 : count the number occurrence of a specific character in a string
def character_counter(count_character, my_string):
    counter = 0
    for i in my_string:
        if i == count_character:
            counter += 1
    return counter;

print(character_counter('f', 'faizan'))

1

In [196]:
# S. No. 31 : compute the greatest common divisor (GCD) of two positive integers

def gcd(x, y):
    gcd = 1
    
    if x % y == 0:
        return y
    
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break  
    return gcd

print(gcd(12, 17))
print(gcd(4, 6))

1
2

In [197]:
# S. No. 32 : get the least common multiple (LCM) of two positive integer
def lcm(x, y):
   if x > y:
       z = x
   else:
       z = y

   while(True):
       if((z % x == 0) and (z % y == 0)):
           lcm = z
           break
       z += 1

   return lcm
print(lcm(4, 6))
print(lcm(15, 17))

12
255

In [198]:
# S. No. 33 : Write a Python program which accepts the user's first and last name and
#print them in reverse order with a space between them

fl = input("first name : ")
ll = input ('last name: ')
print(ll+" "+ fl)

first name : 2
last name: 3
3 2

In [199]:
# S. No. 34 : Input a text and count the occurrences of vowels and consonant

a= ' rehan shan muhammad'

b = 0
c =0

for x in a:
    if x == 'a' or x=='i' or x == 'e' or x =='o' or x== 'u':
        b +=1
    else:
        c+=1
print ('the count of vowel is', str(b))
print ('the count of vowel is', str(c))

the count of vowel is 6
the count of vowel is 14

In [176]:
# S.No. 35 : number of notes (Sample of notes: 10, 20, 50, 100, 500, and 1000 ) against an given amount

def note_count(amount):
    counter = 0
    denomination = [1000, 500, 100, 50, 20, 10]
    for i in range(6):
        q = denomination[i]
        counter += int(amount / q)
        amount = int(amount % q)
        
    return counter;

print(note_count(600))

2

In [201]:
# S. No. 36 : check whether given input is palindrome or not 
a = "abba"
if a[::-1]== a:
    print("Wow! you got a palindrome")
else:
    print ('No')

Wow you got a palindrome

In [202]:
# S.No. 37 : reverse the digits of a given number and add it to the original,
# If the sum is not a palindrome repeat this procedure

def revnumber(a):
    s=0
    while True:
        k = str(a)
        if k == k[::-1]:
            break
        else:
            m =int(k[::-1])
            a +=m
            s +=1
    return a,s
    
print (revnumber(678))
print (revnumber(1473))

(23232, 4)
(9339, 2)

In [203]:
# S. No. 38 :  get the Fibonacci series between 0 to 50 
a = [1,1]

i = 0
j = 1

for c in a:
    if len(a) == 9:
        break
    else:
        c=a[i] + a[j]
        a.append (c)
        i +=1
        j +=1
print (a)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [205]:
# S. No. 39 : create the multiplication table (from 1 to 10) of
def table(a):

    for i in range(1,11):
        print (a, " x ",i," =",  a*i)
print (table(2))
print (table(10))

2  x  1  = 2
2  x  2  = 4
2  x  3  = 6
2  x  4  = 8
2  x  5  = 10
2  x  6  = 12
2  x  7  = 14
2  x  8  = 16
2  x  9  = 18
2  x  10  = 20
None
10  x  1  = 10
10  x  2  = 20
10  x  3  = 30
10  x  4  = 40
10  x  5  = 50
10  x  6  = 60
10  x  7  = 70
10  x  8  = 80
10  x  9  = 90
10  x  10  = 100
None

In [206]:
# S. No. 40 : accepts a string and calculate the number of digits and letters Sample Data : Python 3.2,
# Expected Output : Letters 6, Digits 2
s = 'Python 3.2'
a = []
d=0
l=0
for i in s:
    if i.isdigit():
        d+=1
        
    elif i.isalpha():
        l+=1
        a.append(i)
print (d,l,a)

2 6 ['P', 'y', 't', 'h', 'o', 'n']

In [209]:
# S. No. 41: construct the following pattern, using a nested for loop
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [213]:
# S. No. 42 : construct the following pattern, using a nested for loop
n = 5;
for i in range(n):
    for j in range(i):
        print (i, end = "")
    print('')

for i in range(n, 0, -1):
    for j in range(i):
        print(i, end="")
    print('')

1
22
333
4444
55555
4444
333
22
1

In [216]:
# S. No. 43 : construct the following pattern, using a nested loop number.
n = 10;
for i in range(n):
    for j in range(i):
        print (i, end = "")
    print('')

1
22
333
4444
55555
666666
7777777
88888888
999999999